* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.centered {
    text-align: center;
    margin-top: 10px;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    background-color: #e7f3fe;
    border: 1px solid #b6d4fe;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.admin-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.admin-button:hover {
    background-color: #45a049;
}

.logout-button:hover {
    background-color: #d32f2f;
}

button {
    width: auto;
    max-width: 150px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px; /* Espaciado entre botones */
}

.ver-reservas-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px; /* Ajusta este valor para mover el botón hacia la derecha */
}


.ver-reservas-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: red;
    color: white;
}

.edit-button {
    background-color: blue;
    color: white;
}

.large-text {
    font-size: 24px;
    font-weight: bold;
}

button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #5cb85c;
    color: white;
}

.centered-button {
    display: block;
    margin: 20px auto;
    width: 50%;
}

.large-input {
    font-size: 18px;
}

@media (max-width: 600px) {
    form {
        margin: 10px;
        padding: 15px;
    }
}
