<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form method="POST" action="/login">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit" class="centered-button">Iniciar Sesión</button>
    </form>
    
    <div class="centered">
        <p>No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="centered">
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
</body>
</html>
